<div class="container my-5">
  <div class="row">
    <div class="col-md-5">
      <div class="main-img dt">
        <img class="img-fluid" src="{{spDetail.anh}}" alt="ProductS" />
      </div>
    </div>
    <div class="col-md-7">
      <div class="main-description px-2">
        <h3>Loại sản phẩm : {{spDetail.loai}}</h3>
        <div class="product-title text-bold my-3">{{spDetail.tenSanPham}}</div>
        <div class="row mb-3">
          <div class="col-3"><p>Giá tiền :</p></div>
          <div class="col-6">
            <strong>${{spDetail.giaTien}}</strong>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3"><p>Số lượng hiện tại :</p></div>
          <div class="col-6">
            <h5>{{spDetail.soLuong}}</h5>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3">
            <span id="basic-addon1">Số lượng</span>
          </div>

          <div class="col-5">
            <input
              type="number"
              class="form-control"
              aria-describedby="basic-addon1"
              ng-model="soLuong"
              min="1"
              max="{{spDetail.soLuong}}"
            />
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-2"></div>
          <div class="col-3">
            <button type="button" class="btn btn-dark">Mua ngay</button>
          </div>
          <div class="col-5">
            <button type="button" class="btn btn-dark">
              Thêm vào giỏ hàng
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <p>Mô tả :</p>
          <p>{{spDetail.moTa}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Các sản phẩm tương tự -->
  <div class="text-center text-danger mt-5">
    <h2>Các sản phẩm tương tự</h2>

    <div class="row">
      <div class="row mb-4 text-center">
        <div
          class="col-3"
          ng-repeat="x in spTuongTu | filter:{ loai: spDetail.loai }"
        >
          <a href="#detail/product/{{x.id}}">
            <div class="card" style="width: 18rem" id="khoi">
              <img src="{{x.anh}}" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5>{{x.tenSanPham}}</h5>
                <p>Giá tiền : ${{x.giaTien}}</p>
                <button
                  type="button"
                  class="btn btn-primary tha"
                  data-bs-toggle="modal"
                  data-bs-target="#detail"
                  ng-click="detailProductmn($event,$index)"
                >
                  <i class="bi bi-eye"></i>
                </button>
                <button type="button" class="btn btn-light">
                  <i class="bi bi-cart"></i>
                </button>
                <button type="button" class="btn btn-danger">
                  <i class="bi bi-chat"></i>
                </button>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
