<footer class="footer">
  <div class="footer-middle container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="footer-logo">
          <a class="logo" href="//quavatonline.com">
            <img
              alt="Quà Vặt Online"
              src="https://dcassetcdn.com/design_img/6165/17990/17990_139608_6165_image.jpg"
              style="height: 100px; width: 250px"
            />
          </a>
        </div>
        <p>
          Chúng tôi cam kết sẽ dành trọn tâm huyết để mang đến cho quý khách
          những món ăn ngon, an toàn và giá thành hợp lý.
        </p>
        <div class="payment-accept">
          <div>
            <img
              src="//bizweb.dktcdn.net/thumb/compact/100/135/586/themes/175747/assets/payment-1-min.png?1608792171440"
              alt="payment"
            />
            <img
              src="//bizweb.dktcdn.net/thumb/compact/100/135/586/themes/175747/assets/payment-2-min.png?1608792171440"
              alt="payment"
            />
            <img
              src="//bizweb.dktcdn.net/thumb/compact/100/135/586/themes/175747/assets/payment-3-min.png?1608792171440"
              alt="payment"
            />
            <img
              src="//bizweb.dktcdn.net/thumb/compact/100/135/586/themes/175747/assets/payment-4-min.png?1608792171440"
              alt="payment"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <h3>Liên hệ</h3>
        <div class="contacts-info">
          <address>
            <i class="add-icon"></i>Yên trị - Yên Thuỷ - Hoà Bình
          </address>
          <div class="phone-footer">
            <i class="phone-icon"></i>Hotline: 0325808823
          </div>
          <div class="phone-footer">
            <i class="phone-icon"></i>Hotline: 0389478937
          </div>
          <div class="email-footer">
            <i class="email-icon"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <h3>Facebook</h3>
        <a href="fb.com/kit.vn" style="color: aliceblue">Tuấn Anh</a>
      </div>
    </div>
  </div>
</footer>
